*{
  margin: 0;
  padding: 0;

}

#map {
  height: 500px;
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.aa:hover {
  color: blue;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  color: #fff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: gray;
}

.topnav-right {
  float: right;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.CCpop {
  position: absolute;
  right: 1%;
  top: 1%;
  z-index: 8;
}

.pullleft {
  float: left
}
.bgcolor{
    background-color:rgb(233, 233, 233);
    text-align: center;
    margin: 0px;
}
  .register{
    position: relative;
    right: 0;
    left: 530%;
    margin-top: 10px;
  }
.allbtnposition{
  position: absolute;
  left: 20%;
  margin-top: 5px;
}
  .buttonloginregis {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

.buttonloginregisII {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
}

.loguotbtncss{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;

}

.collectionbtn{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.confirmCollec{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.addmenubtn{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}


.regisbtn:hover {
  background-color: DarkOrchid;
  border: none
}

.regisbtn{
  background-color: #4B0082;
  color: white;
  border: none;
  border-radius: 9px;
}

.resbtnposition{
  position: absolute;
    right:70%;
    left: 0;
    margin-top: 10px;
}

.loginbtn:hover{
  background-color: #F3C220;
  border: none;
}

.loginbtn{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 9px;
}

.loginposition{
  position: relative;
  margin: auto;
    right:0;
    left: 4%;
}

.closebtn:hover{
  background-color: #DB1E1E;
  border: none;
}

.closebtn{
  background-color: DarkRed;
  color: white;
  border: none;
  border-radius: 9px;
}

.submitbtn:hover{
  background-color: white;
  padding: 7px 32px;
  color: black; 
  border: 2px solid rgb(36, 255, 153);

}
.submitbtn{
  background-color:  rgb(36, 255, 153);
  color: white;
  border: 2px solid  rgb(36, 255, 153);
}

.creatsubmitbtn:hover{
  background-color: white;
  padding: 7px 32px;
  color: black; 
  border: 2px solid rgb(1, 124, 67);

}
.creatsubmitbtn{
  background-color:  rgb(1, 124, 67);
  color: white;
  border: 2px solid  rgb(1, 124, 67);
}

#createCall{
  position: absolute;
  right: 100%;
  left: 0;
}
.setdivshowtype{
  position: relative;
    right: auto;
    left: auto;
    margin-top: 5px;
}
.showtypeNamebtn{
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.bg {
  /* Full height */
  height: 529px; 
  width: 98%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}